
<div class="container padded">

  <div class="col-xs-12 col-md-6">
    <h4>Le type de restaurants que je préfére</h4>
    <%=simple_form_for(current_user) do |f|%>
    <ul class ="list-unstyled">
      <li><%=f.input :italian, label: "Italien" %><li>
      <li><%=f.input :french, label: "Français"%><li>
      <li><%=f.input :thai, label: "Thailandais"%><li>
      <li><%=f.input :japanese, label: "Japonais"%><li>
      <li><%=f.input :viet, label: "Vietnamien"%><li>
      <br>
      <br>
      <br>
      <li><%= f.button :submit, "Valider", class: "btn btn-primary" %></li>
    </ul>
  </div>


  <div class="col-xs-12 col-md-6">
    <h4>Mes quartiers préférés</h4>
    <ul class="list-unstyled">
      <li><%=f.input :bastille, label: "Bastille"%></li>
      <li><%=f.input :notre_dame, label: "Notre-Dame"%></li>
      <li><%=f.input :marais, label: "Marais"%></li>
      <li><%=f.input :villette, label: "Villette"%></li>
      <li><%=f.input :abbesses, label: "Abbesses"%></li>

    </ul>

  </div>
</div>


<div class="text-center">

  <%end%>
</div>
