<br>
<div class="container">

  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class=<%= 'active' unless @coming_from_reservation %> > <a data-toggle="tab" href="#preferences">Mes préférences</a></li>
    <li><a data-toggle="tab" href="#propositions">Les recommendations de la maison</a></li>
    <li class= <%= 'active' if @coming_from_reservation %> ><a data-toggle="tab" href="#reservations">Mes réservations</a></li>
    <li><a data-toggle="tab" href="#details">Mes détails</a></li>
  </ul>
  <br>

  <div class="tab-content">

    <div id="preferences" class="tab-pane <%= @coming_from_reservation ? 'form-inline' : 'active' %>">
      <%=render 'users/my_preferences.html.erb'%>
    </div>

    <div id="propositions" class="tab-pane form-inline">
      <%=render 'shared/index_partial.html.erb'%>
    </div>

    <div id="reservations" class="tab-pane form-inline <%=  @coming_from_reservation ? 'active' : 'form-inline' %>">
      <%=render 'users/my_reservations.html.erb'%>
    </div>


    <div id="details" class="tab-pane form-inline">
      <%=render 'users/my_details.html.erb'%>
    </div>

  </div>
</div>




