<nav class="navbar-wagon-fixed">
  <div class="container navbar-wagon-container">

    <a href="/">
      <%= image_tag "logo.png", height: '60', width: '70' %>
      <span class="navbar-title">FOODKICK</span>
    </a>

    <form action="" class="navbar-wagon-search">
      <!-- <input type="text" class="navbar-wagon-search-input" placeholder="Search for featured stuff">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button> -->
    </form>
    <!-- <hr> -->
    <% unless user_signed_in? && current_user.owner %>
      <%= link_to "Découvrir", restaurants_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <hr>
    <% end %>
    <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <% if current_user.owner %>
              <li>
                <%= link_to restaurant_path(current_user.restaurant_id) do %>
                  <i class="fa fa-cutlery"></i> <%= t ".profile", default: "Mon Restaurant" %>
                <% end %>
              </li>
              <li>
                <%= link_to restaurant_reservations_path(Restaurant.find(current_user.restaurant_id)) do %>
                  <i class="fa fa-book"></i> <%= t ".profile", default: "Dashboard" %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to user_path(current_user) do %>
                  <i class="fa fa-user"></i> <%= t ".profile", default: "Profil" %>
                <% end %>
              </li>

            <% end %>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
        <%= link_to t(".sign_in", default: "SE CONNECTER"), new_user_session_path, class: "btn btn-success btn-login" %>
    <% end %>
    <!-- <hr>
    <%= link_to t(".top_call_to_action", default: "Post stuff"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %> -->
  </div>
</nav>
