<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="115 99.72 841.89 595.28" style="enable-background:new 115 99.72 841.89 595.28;" xml:space="preserve">
<style type="text/css">
  .st0{stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
</style>

<a xlink:href= <%=restaurants_path %>?ar_id=75015><path class="st0 arrondissement col4" d="M494.2,504.46l11.72-17.35c-18.53-10.46-30.51-19.45-30.51-19.45l-11.74,4.03l-13.31-11.86l-13.31,5.48
  l-66.87-66.87c-1,1.31-1.93,2.48-2.82,3.45c-8.61,9.4-1.57,12.53-19.57,25.84c-15.76,11.65-73.48,96.42-87.66,117.44
  c10.29-0.82,21.01-4.47,21.01-4.47l9.4,8.35l-9.4,10.44v21.93h19.84c0,0,16.7-19.31,19.84-23.49c3.13-4.18,3.13-3.65,6.26-3.65
  s44.89,30.28,80.39,41.24c1.58,0.49,3.28,1.02,5.08,1.59l77.4-96.08L494.2,504.46z"/>
</a>

<a xlink:href= <%=restaurants_path %>?ar_id=75014><path class="st0 arrondissement col4" d="M583.37,627.36c-16.18-23.49-12.53-36.02-12.53-52.72c0-13.27,2.31-44.98,3.25-57.46
  c-14.38-4.76-18.04-6.15-39.97-15.84c-10.38-4.59-19.95-9.55-28.21-14.21l-11.72,17.35l-4.27-3.43l-77.4,96.08
  c38.6,12.28,124.38,42.78,124.38,42.78l-2.09,5.74c0,0,6.79,2.61,20.88,3.13c14.09,0.52,25.06,3.54,25.06,3.54
  c0.29-0.26,0.59-0.46,0.9-0.62l1.71-2.92L583.37,627.36L583.37,627.36z"/></a>

<a xlink:href= <%=restaurants_path %>?ar_id=75013><path class="st0 arrondissement col4" d="M664.89,479.41c0,0-9.4,29.75-14.88,30.43c-5.48,0.67-39.15,19.68-39.15,19.68
  c-18.3-6.28-29.06-9.8-36.76-12.35c-0.95,12.48-3.25,44.19-3.25,57.46c0,16.7-3.65,29.23,12.53,52.72v21.4l-1.72,2.92
  c3.57-1.89,8.23,2.17,11.11,0.62c7.83-6.38,14.62-10.32,22.45-10.85c7.83-0.52,12.53,9.92,12.53,9.92s27.67,2.09,32.36,0
  c4.7-2.09,56.9-26.1,64.73-33.93s28.71-17.23,34.97-20.36c0.8-0.4,1.57-0.89,2.32-1.45C722.14,543.81,692.06,514.88,664.89,479.41z"
  /></a>

<a xlink:href= <%=restaurants_path %>?ar_id=75006><path class="st0 arrondissement col1" d="M606.95,437.91c-7.31-2.99-15.05-7.54-22.07-12.5l-31.76,84.14c13.89,5.73,18.56,6.52,57.75,19.97
  c0,0,33.67-19.01,39.15-19.68c5.48-0.67,14.88-30.43,14.88-30.43C636.7,442.61,624.17,444.96,606.95,437.91z"/></a>

<a xlink:href= <%=restaurants_path %>?ar_id=75007><path class="st0 arrondissement col1" d="M523.34,438.28l16.95-36.96l-4.95-2.65l3.06-6.12c-6.5-2.23-13.45-4.44-19.94-7.1
  c-17.23-7.05-32.89-16.44-41.5-17.6c-8.61-1.15-20.36-1.2-42.28,0.37c-41.44-3.51-55.79,18.81-64.52,30.22l66.87,66.87l13.31-5.48
  l13.31,11.86l11.74-4.03c0,0,0.41,0.31,1.2,0.88l37.86-27.02L523.34,438.28z"/></a>

<a xlink:href= <%=restaurants_path %>?ar_id=75005><path class="st0 arrondissement col1" d="M563.1,405.81c-4.39-5.85-13.94-9.58-24.69-13.26l-3.07,6.12l4.95,2.65l-16.95,36.96l-8.88,3.24l-37.86,27.02
  c5.36,3.87,28.17,19.82,57.52,32.79c8.52,3.77,14.28,6.27,18.98,8.22l31.76-84.14C575.36,418.69,567.16,411.22,563.1,405.81z"/></a>

<a xlink:href= <%=restaurants_path %>?ar_id=75016><path class="st0 arrondissement col4" d="M412.54,359.57c0,0-9.17-32.04-21.25-53.31l-0.44,0.9l-59.76-28.27c-13.28,19.2-62.5,100.05-67.18,113.05
  c-4.7,13.05-45.94,99.7-45.94,99.7l2.61,25.58l15.66,21.92c0,0,0,0,10.96,4.7c3.47,1.49,8.15,1.72,12.92,1.34
  c14.18-21.02,71.9-105.79,87.66-117.44c18.01-13.31,10.96-16.44,19.57-25.84c7.38-8.05,17.64-29.9,49.49-33.52v-6.72L412.54,359.57z
  "/></a>

<a xlink:href= <%=restaurants_path %>?ar_id=75017><path class="st0 arrondissement col4" d="M403.38,281.32c0,0,30.54-9.4,48.54-14.09c14.77-3.85,47.99-8.76,65.07-16.89c-0.47-5.68-2.16-11.61-5.65-23.36
  l15.86-81.91c-8.99,0.35-31.2-1.46-37.26,3.09c-6.26,4.7-48.55,23.49-53.24,28.19c-4.7,4.7-10.44,6.79-19.31,14.62
  c-8.87,7.83-28.19,20.88-39.15,24.53c-10.96,3.65-42.28,33.41-43.33,37.06c-1.04,3.65-3.65,26.1-3.65,26.1
  c-0.05,0.07-0.11,0.15-0.16,0.23l59.76,28.27l0.44-0.9l0,0L403.38,281.32z"/></a>


<polygon class="st0 arrondissement" points="391.29,306.25 391.29,306.25 403.38,281.32 "/>
<polygon class="st0 arrondissement" points="391.29,306.25 391.29,306.25 403.38,281.32 "/>
<a xlink:href= <%=restaurants_path %>?ar_id=75008><path class="st0 arrondissement col1" d="M511.34,332.94c0,0,4.7-20.98,4.7-26.93c0-5.95-0.86-30.94,0.52-43.54c0.54-4.93,0.73-8.48,0.43-12.14
  c-17.07,8.12-50.29,13.03-65.07,16.89c-18.01,4.7-48.54,14.09-48.54,14.09l-12.09,24.94c12.09,21.27,21.25,53.31,21.25,53.31
  l4.32,2.09v6.72c5.32-0.61,11.23-0.7,17.84-0.14c21.92-1.57,33.67-1.52,42.28-0.37c3.65,0.49,8.58,2.46,14.35,5.11l22.37-40.7
  L511.34,332.94z"/></a>
<a xlink:href= <%=restaurants_path %>?ar_id=75012><path class="st0 arrondissement col4" d="M797.21,463.75c-0.01-0.1-0.01-0.19-0.02-0.29c-9.24-1.43-21.12-3.5-29.03-5.76
  c-14.62-4.18-32.36-9.4-36.02-10.44c-3.65-1.04-11.48,2.09-28.71-5.74c-12.98-5.9-20.03-8.24-22.72-9.04l-11.73,35.14l-8.77,5.87
  c1.51,1.85,3.07,3.82,4.68,5.92c27.17,35.47,57.25,64.4,97.25,116.22c5.2-3.82,9.77-10.76,17.51-12.12
  c8.87-1.57,22.97-7.83,27.67-11.48c4.7-3.65,11.48-14.62,18.79-17.75c21.4-5.74,24.53-16.7,25.58-23.49s1.57-18.27,1.57-18.27h3.13
  c0,0,3.95-25.01,6.24-40.82L797.21,463.75z"/></a>

<a xlink:href= <%=restaurants_path %>?ar_id=75003><path class="st0 arrondissement col4" d="M654.26,408.63c7.88,3.31,16.59,5.23,22.56,6.27c-2.28-15.32-5.23-35.74-5.23-38.63
  c0-4.7-10.96-30.28-10.96-30.28l-38.48-11.69c-3.77,10.26-10.52,28.47-16.63,44.34c7.19,1.95,16.47,5.04,21.7,9.11
  C636.62,395.06,640.59,402.89,654.26,408.63z"/></a>
<a xlink:href= <%=restaurants_path %>?ar_id=75004><path class="st0 arrondissement col4" d="M676.83,414.9c-5.97-1.04-14.68-2.95-22.56-6.27c-13.67-5.74-17.65-13.57-27.04-20.88
  c-5.23-4.07-14.5-7.17-21.7-9.11c-5.39,13.99-10.29,26.17-12.23,29.47c-3.72,6.32-7.17,13.42-8.85,17
  c7.14,5.08,15.04,9.75,22.5,12.8c16.24,6.64,28.31,4.94,53.27,35.58l8.77-5.87l11.73-35.14c-0.88-0.26-1.29-0.36-1.29-0.36
  S678.26,424.52,676.83,414.9z"/></a>
<a xlink:href= <%=restaurants_path %>?ar_id=75001><path class="st0 arrondissement col4" d="M520.24,330.4l-6.55,1.87l-22.37,40.7c7.83,3.59,17.23,8.43,27.14,12.48c17.23,7.05,37.58,10.96,44.63,20.36
  c3.99,5.32,12.01,12.66,21.34,19.3c1.68-3.57,5.13-10.68,8.85-17c2.31-3.93,8.83-20.46,15.36-37.66
  c-19.73-7.02-74.15-26.41-77.91-28.11C527.87,341.04,523.29,334.86,520.24,330.4z"/></a>
<a xlink:href= <%=restaurants_path %>?ar_id=75002><path class="st0 arrondissement col4" d="M566.15,317.28l-45.9,13.12c3.04,4.46,7.62,10.64,10.5,11.94c3.77,1.71,58.19,21.1,77.91,28.11
  c5.17-13.61,10.36-27.63,13.49-36.15L566.15,317.28z"/></a>
<a xlink:href= <%=restaurants_path %>?ar_id=75009><path class="st0 arrondissement col1" d="M605.52,272.91c-0.79-3.89-0.6-15.01-0.34-22.89c-13.34,1.63-35.86,10.92-44.43,7.8
  c-8.61-3.13-35.23-13.31-35.23-13.31c-1.83,2.11-4.79,4.04-8.53,5.82c0.3,3.65,0.11,7.2-0.43,12.14
  c-1.38,12.6-0.52,37.58-0.52,43.54c0,5.95-4.7,26.93-4.7,26.93l54.81-15.66l31.93,9.7l3.22-27.45
  C601.29,299.53,606.79,279.18,605.52,272.91z"/></a>
<a xlink:href= <%=restaurants_path %>?ar_id=75020><path class="st0 arrondissement col4" d="M860.56,433.17c-3.13-18.79-5.74-70.99-4.18-83s0-25.58-4.18-43.85c-1.97-8.6-5.32-16.62-8.32-22.7
  c-10.02,4.26-24.49,10.18-34.49,13.3c-16.71,5.22-38.11,3.13-43.85,2.61c-5.74-0.52-13.05,4.7-17.23,6.48
  c-4.18,1.78-16.7,8.14-26.1,11.27c-1.84,0.61-5.57,2.15-10.38,4.23c10.83,14.54,21.82,29.13,26.64,34.97
  c10.96,13.31,19.57,34.45,20.36,45.41c0,0,8.61,4.7,16.44,9.4c7.83,4.7,7.83,12.53,13.31,23.49c5.44,10.88,7.79,16.36,8.59,28.68
  c7.85,1.21,13.79,1.96,13.79,1.96s-5.95-0.75-13.79-1.96c0.01,0.1,0.01,0.19,0.02,0.29l65.41,7.95c0.93-6.45,1.59-11.37,1.59-12.43
  C864.21,455.62,863.69,451.96,860.56,433.17z"/></a>
<a xlink:href= <%=restaurants_path %>?ar_id=75011><path class="st0 arrondissement col1" d="M775.29,411.29c-7.83-4.7-16.44-9.4-16.44-9.4c-0.78-10.96-9.4-32.1-20.36-45.41
  c-4.81-5.84-15.81-20.44-26.64-34.97c-15.54,6.71-42.34,19.05-52.96,23.95l1.74,0.53c0,0,10.96,25.58,10.96,30.28
  c0,4.7,7.83,55.86,7.83,55.86s6.79,1.57,24.01,9.4c17.23,7.83,25.06,4.7,28.71,5.74c3.65,1.04,21.4,6.26,36.02,10.44
  c7.91,2.26,19.78,4.33,29.03,5.76c-0.8-12.32-3.15-17.81-8.59-28.68C783.12,423.82,783.12,415.99,775.29,411.29z"/></a>
<a xlink:href= <%=restaurants_path %>?ar_id=75010><path class="st0 arrondissement col1" d="M684.46,284.45c0,0,0.78-20.36,0-27.4c-0.78-7.05-7.05-8.61-7.05-8.61c-30.53-6.26-58.72,0-72.03,1.57
  c-0.07,0.01-0.13,0.02-0.2,0.03c-0.26,7.88-0.45,19,0.34,22.89c1.27,6.26-4.23,26.62-4.23,26.62l-3.22,27.45l60.82,18.48
  c10.62-4.91,37.42-17.24,52.96-23.95C698.02,302.93,684.46,284.45,684.46,284.45z"/></a>

<path class="st0 arrondissement" d="M605.18,250.03L605.18,250.03c0.07-0.01,0.14-0.02,0.2-0.03C605.32,250.01,605.25,250.02,605.18,250.03z"/>



<a xlink:href= <%=restaurants_path %>?ar_id=75018><path class="st0 arrondissement col4" d="M685.16,189.13c3.65-4.7,7.83-7.05,7.83-7.05l-6.53-8.87c0,0-0.52-19.31-0.52-20.1s-3.91-5.22-2.09-6.52
  c1.07-0.76,2.05-2.7,2.57-5.11c-61.86,1.28-152.9,3.2-158.39,3.54c-0.27,0.02-0.55,0.03-0.85,0.04l-15.86,81.91
  c3.49,11.75,5.18,17.68,5.65,23.36c3.74-1.78,6.7-3.71,8.53-5.82c0,0,26.62,10.18,35.23,13.31c8.57,3.12,31.09-6.17,44.43-7.8
  c0.07-0.01,0.14-0.02,0.2-0.03c11.2-1.32,32.95-5.96,57.77-3.66c3.39-4.74,8.94-13.43,11.05-22.23
  C677.34,211.05,681.51,193.83,685.16,189.13z"/></a>

<a xlink:href= <%=restaurants_path %>?ar_id=75019><path class="st0 arrondissement col4" d="M837.59,272.39c0,0-9.92-2.61-15.14-4.18c-5.22-1.57-7.83-2.61-12.01-7.83c-4.18-5.22-13.05-16.18-13.05-16.18
  s3.13-13.05,2.61-17.23c-0.52-4.18-3.65-26.62-5.74-36.54c-2.09-9.92-6.79-23.49-15.14-33.41c-8.35-9.92-29.23-13.57-32.89-14.09
  c-3.66-0.52-3.13-2.61-3.13-2.61s-24.35,0.49-56.68,1.16c-0.52,2.41-1.5,4.34-2.57,5.1c-1.83,1.3,2.09,5.74,2.09,6.52
  c0,0.78,0.52,20.1,0.52,20.1l6.53,8.87c0,0-4.18,2.35-7.83,7.05s-7.83,21.92-10.96,34.98c-2.11,8.79-7.66,17.49-11.05,22.23
  c4.66,0.43,9.43,1.11,14.26,2.1c0,0,6.27,1.57,7.05,8.61c0.78,7.05,0,27.4,0,27.4s13.55,18.48,27.39,37.06
  c4.8-2.07,8.53-3.61,10.38-4.23c9.4-3.13,21.92-9.5,26.1-11.27s11.48-7,17.23-6.48c5.74,0.52,27.14,2.61,43.85-2.61
  c9.99-3.12,24.47-9.05,34.49-13.3C840.52,276.78,837.59,272.39,837.59,272.39z"/></a>
</svg>

