<br> <br> <br>
<% @footer = true %>
<div id="home" class="container-fluid no-padding" >
  <div class="row text-center">

    <div class="col-xs-12 col-md-12">
           <%= render 'pages/map2.html.erb' %>
    </div>

    <div class="col-xs-12">
      <%=link_to 'A table !', restaurants_path, class: "banner_home-btn btn-default" %>
    </div>
  </div>
</div>

<div class="presentation text-center">
  <br><br>
  <h2 class="presentation-food">Food</h2><h2 class="presentation-kick">kick</h2>
  <h4 class="est">est</h4>
  <h4 class="description-first">Une communauté de passionés de gastronomies qui vont vous faire découvrir</h4><h4 class="description-second">les meilleurs restaurants de Paris avant tout le monde!</h4>
</div>

<br>
<br>
<br>

<h2 class="text-center">Comment ça marche?</h2>
<br><br>



<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-2 col-md-2"><%=image_tag("search.png", size: '80')%></div>
    <div class="col-xs-4 cold-md-4">
    <p class="justify">Cherchez les restaurants qui viennent d'ouvrir autour de vous parmis les restaurants recommandés avec soin par la communauté kickfood.</p></div>
    <div class="col-xs-3 col-md-3"></div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-2 col-md-2"><%=image_tag("discount.png", size: '80')%></div>

    <div class="col-xs-4 cold-md-4">
    <p class="justify">Demandez votre réduction sur notre site contre la promesse de donner un retour constructif et complet
        au restaurateur</p></div>
    <div class="col-xs-3 col-md-3"></div>
  </div>

  <br><br>

   <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-2 col-md-2"><%=image_tag("dinner.png", width: '80', height: '60')%></div>

    <div class="col-xs-4 cold-md-4">
    <p class="justify">Dégustez, appréciez, et payer moins cher grâce à votre code foodkick</p></div>
    <div class="col-xs-3 col-md-3"></div>
  </div>


  <br><br>


   <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-2 col-md-2"><%=image_tag("revue.png", width: '80', height: '60')%></div>

    <div class="col-xs-4 cold-md-4">
    <p class="justify">"Feedback is a gift" - Envoyez le formulaire de feedback préparé par le restaurateur et aidez les à améliorer son
        service - Le feedback sera gardé secret, c'est entre le restaurateur et vous!</p></div>
    <div class="col-xs-3 col-md-3"></div>
  </div>


</div>

<br> <br> <br> <br>








