
<br>
<br>
<div id="home" class="container-fluid no-padding" >
  <div class="row text-center">
    <div class="col-xs-12">
           <%= render 'mappy' %>

    <br>
    <br>
    <br>
    </div>

    <div class="col-xs-12">
        <button type="submit" class="banner_home-btn btn-default" method="post" action="properties">A table!<new!></new!></button>
    </div>

  </div>
</div>

<br>
<br>
<br>

<h2 class="text-center">Comment ça marche?</h2>
<br><br>

<div class="container-fluid">
  <div class="row">


    <div class="col-xs-12 col-md-2"></div>
    <div class="col-md-4">
      <%=image_tag("search.png", size: '60')%>
      <br>
      <br>
      <p class="justify">Cherchez les restaurants qui viennent d'ouvrir autour de vous parmis les restaurants recommandés avec soin par la communauté kickfood.</p>
    </div>

    <div class="col-xs-12 col-md-4">
      <%=image_tag("discount.png", size: '60')%>
      <br>
      <br>
      <p class="justify">Demandez votre réduction sur notre site contre la promesse de donner un retour constructif et complet
        au restaurateur</p>
    </div>

    <div class="col-xs-12 col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-4">
      <%=image_tag("dinner.png", size: '60')%>
      <br>
      <br>
      <p class="justify">Dégustez, appréciez, et payer moins cher grâce à votre code foodkick</p>
    </div>

    <div class="col-xs-12 col-md-4">
      <%=image_tag("revue.png", size: '60')%>
      <br>
      <br>
      <p class="justify">Envoyez le formulaire de feedback préparé par le restaurateur et aidez les à améliorer son
        service - Le feedback sera gardé secret, c'est entre le restaurateur et vous!</p>
    </div>
  </div>
</div>


</div>






