<div class="container">
  <br><br>
  <%if @my_codes == [] %>
    <p class="text-center">Tu n'as pas encore de code de réduction ! Mais rien n'est perdu, viens découvrir nos restos, les plus neufs, les plus beaux et les meilleurs de Paris : </p>
     <br><br>
    <%=link_to restaurants_path do %>
      <div class="text-center">
        <i class="fa fa-cutlery enorme"></i>
      </div>
    <% end %>
  <% else %>
    <ul class= "list-unstyled" style="margin-top: 80px">
      <% @my_codes.each do |code| %>
        <li>
          <strong><%= code.restaurant.name %></strong> - <%= code.code %> - <%= code.status ? "Utilisé" : "Pas utilisé" %> -
            <% unless code.status %>
              Date de validité : <%= code.limit %>
            <% end %>
            <% if code.feedbacked == false && code.status == true %>
              <%= link_to "Donner son feedback", new_restaurant_feedback_path(code.restaurant) %>
            <% end %>
            <%= "Merci pour le feedback" if code.feedbacked %> - <%= link_to "Annuler le code", restaurant_reservation_path(code.restaurant, code), method: 'delete'%>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>


