<% @no_footer = false %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-7">
      <div class="row">


        <span id="quartier">
          <div class="dropdown" id="divdrop">
            <button class=" btn-default dropdown-toggle btn-homepage" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Quartiers</button>
            <ul class="dropdown-menu col-sm-6" aria-labelledby="dropdownMenu1">
              <li><%= link_to "Le Marais", restaurants_path(pref_quartier: "marais")%></li>
              <li><%= link_to "Abbesses", restaurants_path(pref_quartier: "abbesses")%></li>
              <li><%= link_to "Quartier Latin", restaurants_path(pref_quartier: "quartierlatin")%></li>
              <li><%= link_to "Montmartre", restaurants_path(pref_quartier: "montmartre")%></li>
              <li><%= link_to "Champs Elysées", restaurants_path(pref_quartier: "champs")%></li>
              <li><%= link_to "Notre Dame", restaurants_path(pref_quartier: "notredame")%></li>
              <li><%= link_to "Villette", restaurants_path(pref_quartier: "villette")%></li>
            </ul>

        </div>
        </span>


        <div class="dropdown right" id="divdrop">
            <button class=" btn-default dropdown-toggle btn-homepage" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Horizons</button>
            <ul class="dropdown-menu bis" aria-labelledby="dropdownMenu2">
              <li><%= link_to "Cuisine Française", restaurants_path(pref_cat: "francais")%></li>
              <li><%= link_to "Italien", restaurants_path(pref_cat: "italien")%></li>
              <li><%= link_to "Japonais", restaurants_path(pref_cat: "japonais")%></li>
              <li><%= link_to "Vietnamien", restaurants_path(pref_cat: "viet")%></li>
              <li><%= link_to "Original", restaurants_path(pref_cat: "original")%></li>
              <li><%= link_to "Burger", restaurants_path(pref_cat: "burger")%></li>
              <li><%= link_to "Argentin", restaurants_path(pref_cat: "argentin")%></li>

            </ul>
        </div>
        <br>


        <%= render 'shared/index_partial' %>

      </div>
      <div class="row" style="padding-left: 50px; padding-right: 50px; ">
        <hr>
        <p style="padding-bottom: 20px;">Vous pouvez également découvrir <%= link_to "Le Marais" %> · <%= link_to "Bastille" %> · <%= link_to "Abbesses" %></p>
      </div>
    </div>
    <div class="col-xs-5 search-map">
      <div id="map" style="width: 100%; height: 100vh;"></div>
      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).on('ready', function() {
            handler = Gmaps.build('Google');
            handler.buildMap({

            <!-- RAJOUTE le style de la carte dans le builder -->
            provider: {
            styles: [
    {
        "featureType": "landscape",
        "stylers": [
            {
                "hue": "#FFBB00"
            },
            {
                "saturation": 43.400000000000006
            },
            {
                "lightness": 37.599999999999994
            },
            {
                "gamma": 1
            },

            {
                "z-index": 0
            }


        ]
    },
    {
        "featureType": "road.highway",
        "stylers": [
            {
                "hue": "#FFC200"
            },
            {
                "saturation": -61.8
            },
            {
                "lightness": 45.599999999999994
            },
            {
                "gamma": 1
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "stylers": [
            {
                "hue": "#FF0300"
            },
            {
                "saturation": -100
            },
            {
                "lightness": 51.19999999999999
            },
            {
                "gamma": 1
            }
        ]
    },
    {
        "featureType": "road.local",
        "stylers": [
            {
                "hue": "#FF0300"
            },
            {
                "saturation": -100
            },
            {
                "lightness": 52
            },
            {
                "gamma": 1
            }
        ]
    },
    {
        "featureType": "water",
        "stylers": [
            {
                "hue": "#0078FF"
            },
            {
                "saturation": -13.200000000000003
            },
            {
                "lightness": 2.4000000000000057
            },
            {
                "gamma": 1
            }
        ]
    },
    {
        "featureType": "poi",
        "stylers": [
            {
                "hue": "#00FF6A"
            },
            {
                "saturation": -1.0989010989011234
            },
            {
                "lightness": 11.200000000000017
            },
            {
                "gamma": 1
            }
        ]
    }
]
          },
          <!-- Fin du style de la carte -->
            internal: { id: 'map' } }, function(){
              markers = handler.addMarkers(<%= raw @markers.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
            });
          })
        <% end %>
      <% end %>
    </div>
  </div>
</div>
