<% @no_footer = false %>
<div class="container-fluid">
  <div class="row">
    <br>
    <div class="col-xs-7" style="margin-top: 70px;">
      <div class="row">
        <div class="search-bar" style="padding-left: 20px; padding-right: 20px;">
          <div>
            Type de cuisine :
            <%= link_to do %>
              <span class="label label-success" style="margin-left: 10px;">Italien</span>
            <% end %>
            <%= link_to do %>
              <span class="label label-success">Chinois</span>
            <% end %>
            <%= link_to do %>
              <span class="label label-success">Thai</span>
            <% end %>
            <%= link_to do %>
              <span class="label label-success">Japonais</span>
            <% end %>
            <%= link_to do %>
              <span class="label label-success">Français</span>
            <% end %>
             ou
            <input type="text">
          </div>
          <hr>
          <div>
            Quartier :
            <%= link_to do %>
              <span class="label label-primary" style="margin-left: 10px;">Bastille</span>
            <% end %>
            <%= link_to do %>
              <span class="label label-primary">Notre Dame</span>
            <% end %>
            <%= link_to do %>
              <span class="label label-primary">Le Marais</span>
            <% end %>
            <%= link_to do %>
              <span class="label label-primary">La Vilette</span>
            <% end %>
            ou
            <input type="text">
          </div>
          <hr>
          <div>Prix :<div style="width: 90%; margin-left: 60px; margin-top: -20px;"><input type="range" id="myRange" value="90"></div></div>
        </div>
        <br>
          <% @restaurants.each do |restaurant| %>
            <div class="col-xs-6">
              <div class="card restaurant_<%= restaurant.id %>">
                <span class="card-bg" style="background-image: url('<%= restaurant.seed_picture %>')"></span>
                <span class="card-shadow"></span>
                <span class="card-description"><%= restaurant.category %></span>
                <span class="card-text">
                  <h2><%= restaurant.name %></h2>
                  <p><%= restaurant.borough %></p>
                </span>
                <span class="card-search"><i class="fa fa-search fa-5x text-center"></i></span>
                <%= link_to " ", restaurant_path(restaurant), class: "card-link" %>
              </div>
            </div>
          <% end %>
      </div>
      <div class="row" style="padding-left: 50px; padding-right: 50px; ">
        <hr>
        <p style="padding-bottom: 20px;">Vous pouvez également découvrir <%= link_to "Le Marais" %> · <%= link_to "Bastille" %> · <%= link_to "Abbesses" %></p>
      </div>
    </div>
    <div class="col-xs-5 search-map">
      <div id="map" style="width: 100%; height: 100vh;"></div>
      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).on('ready', function() {
            handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function(){
              markers = handler.addMarkers(<%= raw @markers.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
            });
          })
        <% end %>
      <% end %>
    </div>
  </div>
</div>
