<% @no_footer = false %>
<div class="container-fluid">
  <div class="row">
    <br>
    <div class="col-xs-7" style="margin-top: 70px;">
      <div class="row">
        <div class="search-bar" style="padding-left: 20px; padding-right: 20px;">
          <div>
            <%@pref_borough.each do |pref| %>
            <span style="margin-top: 10px; display: inline-block">
              <%= link_to restaurants_path(pref_quartier: pref.label) do %>
                <span class="label label-success" style="font-size: 15px;"><%=pref.borough%></span>
              <% end %>
            </span>
            <% end %>
          </div>

          <hr>

          <div>
            <%@pref_cat.each do |pref| %>
            <span style="margin-top: 10px; display: inline-block">
              <%= link_to restaurants_path + "?pref_cat=#{pref.label}" do %>
                <span class="label label-primary" style="font-size: 15px;"><%=pref.category%></span>
              <% end %>
            </span>
            <% end %>
          </div>
        <br>

        <% @restaurants.each do |restaurant| %>
          <div class="col-xs-6">
            <div class="card restaurant_<%= restaurant.id %>">
              <span class="card-bg" style="background-image: url('<%= restaurant.picture.url %>')"></span>
              <span class="card-shadow"></span>
              <span class="card-name"><h2><%= restaurant.name %></h2></span>
              <span class="card-text">
                <p><%= restaurant.borough %></p>
              </span>
              <span class="card-description"><p><%= restaurant.category %></p></span>
              <span class="card-opening"><p >Ouverture prévue le <%= restaurant.opening.day %> <%=month_translator(restaurant.opening.month.to_i) %> </p></span>
              <span class="card-search"><i class="fa fa-search fa-5x text-center"></i></span>
              <%= link_to " ", restaurant_path(restaurant), class: "card-link" %>
              <%= image_tag "logo.png", class: "card-logo_foodkick" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row" style="padding-left: 50px; padding-right: 50px; ">
        <hr>
        <p style="padding-bottom: 20px;">Vous pouvez également découvrir <%= link_to "Le Marais" %> · <%= link_to "Bastille" %> · <%= link_to "Abbesses" %></p>
      </div>
    </div>
    <div class="col-xs-5 search-map">
      <div id="map" style="width: 100%; height: 100vh;"></div>
      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).on('ready', function() {
            handler = Gmaps.build('Google');
            handler.buildMap({

            <!-- RAJOUTE le style de la carte dans le builder -->
            provider: {
            styles: [
    {
        "featureType": "landscape",
        "stylers": [
            {
                "hue": "#FFBB00"
            },
            {
                "saturation": 43.400000000000006
            },
            {
                "lightness": 37.599999999999994
            },
            {
                "gamma": 1
            },

            {
                "z-index": 0
            }


        ]
    },
    {
        "featureType": "road.highway",
        "stylers": [
            {
                "hue": "#FFC200"
            },
            {
                "saturation": -61.8
            },
            {
                "lightness": 45.599999999999994
            },
            {
                "gamma": 1
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "stylers": [
            {
                "hue": "#FF0300"
            },
            {
                "saturation": -100
            },
            {
                "lightness": 51.19999999999999
            },
            {
                "gamma": 1
            }
        ]
    },
    {
        "featureType": "road.local",
        "stylers": [
            {
                "hue": "#FF0300"
            },
            {
                "saturation": -100
            },
            {
                "lightness": 52
            },
            {
                "gamma": 1
            }
        ]
    },
    {
        "featureType": "water",
        "stylers": [
            {
                "hue": "#0078FF"
            },
            {
                "saturation": -13.200000000000003
            },
            {
                "lightness": 2.4000000000000057
            },
            {
                "gamma": 1
            }
        ]
    },
    {
        "featureType": "poi",
        "stylers": [
            {
                "hue": "#00FF6A"
            },
            {
                "saturation": -1.0989010989011234
            },
            {
                "lightness": 11.200000000000017
            },
            {
                "gamma": 1
            }
        ]
    }
]
          },
          <!-- Fin du style de la carte -->
            internal: { id: 'map' } }, function(){
              markers = handler.addMarkers(<%= raw @markers.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
            });
          })
        <% end %>
      <% end %>
    </div>
  </div>
</div>
