<% @no_footer = false %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-7">
      <div class="row">


        <span id="quartier">
          <div class="dropdown" id="divdrop">
            <button class=" btn-default dropdown-toggle btn-homepage" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Où?</button>
            <ul class="dropdown-menu col-sm-6" aria-labelledby="dropdownMenu1">
              <li ><a href="#">Marais</a></li>
              <li ><a href="#">Odéon</a></li>
              <li ><a href="#">Montmatre</a></li>
              <li ><a href="#">République</a></li>
              <li ><a href="#">Trocadéro</a></li>
              <li ><a href="#">Luxembourg</a></li>
              <li ><a href="#">La Villette</a></li>
            </ul>
            <ul class="dropdown-menu col-sm-6" aria-labelledby="dropdownMenu2" id="right">
              <li ><a href="#">Marais</a></li>
              <li ><a href="#">Odéon</a></li>
              <li ><a href="#">Montmatre</a></li>
              <li ><a href="#">République</a></li>
              <li ><a href="#">Trocadéro</a></li>
              <li ><a href="#">Luxembourg</a></li>
              <li ><a href="#">La Villette</a></li>
            </ul>
        </div>
        </span>

        <span id="category">
          <div class="dropdown" id="divdrop">
            <button class=" btn-default dropdown-toggle btn-homepage" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Quartiers</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li ><a href= "#" >Marais</a></li>
              <li ><a href="#">Odéon</a></li>
              <li ><a href="#">Montmatre</a></li>
              <li ><a href="#">République</a></li>
              <li ><a href="#">Trocadéro</a></li>
              <li ><a href="#">Luxembourg</a></li>
              <li ><a href="#">La Villette</a></li>
            </ul>
        </div>
        </span>


        <div class="dropdown right" id="divdrop">
            <button class=" btn-default dropdown-toggle btn-homepage" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Types</button>
            <ul class="dropdown-menu bis" aria-labelledby="dropdownMenu2">
              <li ><a href="#">Italien</a></li>
              <li ><a href="#">Cuisine Française</a></li>
              <li ><a href="#">Mexicain</a></li>
              <li ><a href="#">Argentin</a></li>
              <li ><a href="#">Thai</a></li>
              <li ><a href="#">Original</a></li>
              <li ><a href="#">Burger</a></li>
            </ul>
        </div>
        <br>

        <%= render 'shared/index_partial' %>

      </div>
      <div class="row" style="padding-left: 50px; padding-right: 50px; ">
        <hr>
        <p style="padding-bottom: 20px;">Vous pouvez également découvrir <%= link_to "Le Marais" %> · <%= link_to "Bastille" %> · <%= link_to "Abbesses" %></p>
      </div>
    </div>
    <div class="col-xs-5 search-map">
      <div id="map" style="width: 100%; height: 100vh;"></div>
      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).on('ready', function() {
            handler = Gmaps.build('Google');
            handler.buildMap({

            <!-- RAJOUTE le style de la carte dans le builder -->
            provider: {
            styles: [
    {
        "featureType": "landscape",
        "stylers": [
            {
                "hue": "#FFBB00"
            },
            {
                "saturation": 43.400000000000006
            },
            {
                "lightness": 37.599999999999994
            },
            {
                "gamma": 1
            },

            {
                "z-index": 0
            }


        ]
    },
    {
        "featureType": "road.highway",
        "stylers": [
            {
                "hue": "#FFC200"
            },
            {
                "saturation": -61.8
            },
            {
                "lightness": 45.599999999999994
            },
            {
                "gamma": 1
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "stylers": [
            {
                "hue": "#FF0300"
            },
            {
                "saturation": -100
            },
            {
                "lightness": 51.19999999999999
            },
            {
                "gamma": 1
            }
        ]
    },
    {
        "featureType": "road.local",
        "stylers": [
            {
                "hue": "#FF0300"
            },
            {
                "saturation": -100
            },
            {
                "lightness": 52
            },
            {
                "gamma": 1
            }
        ]
    },
    {
        "featureType": "water",
        "stylers": [
            {
                "hue": "#0078FF"
            },
            {
                "saturation": -13.200000000000003
            },
            {
                "lightness": 2.4000000000000057
            },
            {
                "gamma": 1
            }
        ]
    },
    {
        "featureType": "poi",
        "stylers": [
            {
                "hue": "#00FF6A"
            },
            {
                "saturation": -1.0989010989011234
            },
            {
                "lightness": 11.200000000000017
            },
            {
                "gamma": 1
            }
        ]
    }
]
          },
          <!-- Fin du style de la carte -->
            internal: { id: 'map' } }, function(){
              markers = handler.addMarkers(<%= raw @markers.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
            });
          })
        <% end %>
      <% end %>
    </div>
  </div>
</div>
