<div class="container-fluid">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image: url('<%= restaurant.seed_picture %>')"></span>
          <span class="card-shadow"></span>
          <span class="card-description"><%= restaurant.category %></span>
          <span class="card-text">
            <h2> <%= restaurant.name %> </h2>
            <p> <%= restaurant.borough %> </p>
          </span>
          <%= link_to "Découvrir", restaurant_path(restaurant), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
