<div class="restaurant-detail">

  <div class="restaurant-detail-header">

    <div class="banner text-center" style="background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('<%= @restaurant.seed_picture %>');background-size:cover;background-position:center center">

      <div class="category hvr-grow">
        <p><%= @restaurant.category %></p>
      </div>
      <div class="banner-content">
        <h1><%= @restaurant.name %></h1>
        <a class="btn btn-primary" href="#">
          Ton Voucher
        </a>
      </div>
    </div>

  </div>
  <div class="restaurant-detail-body">
    <div class="triangle-container"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="card-show">
            <h2> Qui sommes-nous ?</h2>
            <p class="text-justify">
              <%= @restaurant.description %>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class= "text-center citation">
            <%= image_tag("fonzy.png", class: "owner-pic")%>
            <p> "Manger noichi, c'est cool... "</p>
            <p class="italic"> Fonzy </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<p>
  Nom : <%= @restaurant.name %>
</p>
<p>
  Adresse : <%= @restaurant.address %>
</p>
<p>
  Code postal : <%= @restaurant.zip_code %>
</p>
<p>
  Ville : <%= @restaurant.city%>
</p>
<p>
  Quartier : <%= @restaurant.borough %>
</p>
<p>
  Categorie : <%= @restaurant.category %>
</p>
<p>
  Gamme de prix : <%= @restaurant.price_min %> - <%= @restaurant.price_max %> €
</p>
<p>
  Description : <%= @restaurant.description %>
</p>
<p>
  Réduction : <%= @restaurant.discount * 100 %>%
</p>
<p>
  Détail de la réduction : <%= @restaurant.discount_detail %>
</p>
<p>
  Propriétaire : M. <%= @restaurant.user.last_name %>
</p>
<p class="text-center">
  <% if user_signed_in? %>
    <% if @booked %>
       <%=link_to 'Voir mon code', codes_path %>
    <% end %>
  <% else %>
    <%= simple_form_for [@restaurant, @reservation] do |f| %>
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
      <%= f.input :restaurant_id, :as => :hidden, :input_html => { :value => @restaurant.id } %>
    <%= f.button :submit %>
    <% end %>
  <% end %>
</p>









