<% @footer = true %>
<header>

  <div class="banner text-center" style="background-image: url('<%= @restaurant.picture.url %>')">
    <div class="banner-shadow"></div>
    <div class="banner-content">
      <div class="restaurant-category">
        <p><%=@restaurant.category%></p>
      </div>
      <div class="restaurant-opening">
        <p>Ouverture : <%=@restaurant.opening%></p>
      </div>
      <h1><%= @restaurant.name %></h1>
      <p><%= @restaurant.description[0..70]%>...</p>
        <% if user_signed_in? %>

          <% if current_user.owner == false || current_user.owner == nil  %>

            <% if @booked %>
              <%=link_to 'Voir mon code', user_path(coming_from_reservation: 1) %>
            <% else %>
              <%= render 'coupon_form' %>
              <div class="restaurant-discount">
                <p><%= (@restaurant.discount*100).to_i %>%</p>
              </div>
              <% end %>
          <% elsif current_user.restaurant_id == @restaurant.id %>
            <%= simple_form_for @restaurant, url: restaurant_update_picture_path(@restaurant), method: :patch do |f| %>
              <!-- <%= f.input :seed_picture %> -->
              <%= f.button :submit, class: "btn btn-primary", value: "Editer mon profil"%>
            <% end %>
          <% end %>
        <% else %>
          <%= render 'coupon_form' %>
          <div class="restaurant-discount">
            <p><%= -(@restaurant.discount*100).to_i %>%</p>
          </div>
        <% end %>
    </div>
  </div>
</header>

<div class="restaurant-show-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
         <br>
         <img src="https://images.unsplash.com/photo-1414358154612-ae3d3c120004?q=80&fm=jpg&s=988c3ac3e8fc7e48d5d7f6d9bd325c6a" class="img-thumbnail" alt="Cinque Terre">
      </div>
      <div class="col-xs-12 col-md-4">
        <h3>UN VOYAGE</h3>
        <p>
          D'origine chinoise, le chef Guillaume Chen te propose de goûter à une cuisine familiale saine et douce. Beijing 8 est né du constat de Guillaume que beaucoup des petits restaurants chinois de quartier offrent "une cuisine standardisée, sans saveur ni profondeur qui ne reflètent ni la diversité, ni l'authenticité de la cuisine chinoise". De ce constat est né un rêve et de ce rêve est né Beijing 8.
          Guillaume a passé des mois à apprendre et réapprendre la cuisine de sa grand-mère, celle qui a éveillé ses papilles et qui l'a pris sous son aile. Il a refondé sa cuisine pour offrir des plats faits maisons et un accueil traditionnel.
        </p>
        <% if user_signed_in? %>
          <% if current_user.owner && current_user.restaurant_id == @restaurant.id %>
            <%= simple_form_for @restaurant, url: restaurant_update_description_path(@restaurant), method: :patch do |f| %>
              <%= f.input :description %>
              <%= f.button :submit, class: "btn btn-primary", value: "Modifier la description" %>
            <% end %>
          <% end -%>
        <% end %>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-xs-12 col-md-12 blackboard text-center">
        <h3 class="title_menu">Entrées</h3>

        <%@restaurant.courses.where(category: "Entrée").each do |entree| %>
          <ul class="list-unstyled list-inline">
            <li><h5 ><%=entree.name%></h5></li> <li><p> - <%=entree.description%> - <%=entree.price %> Euros</p></li>
          </ul>
          <%end%>

        <br>
        <h3 class="title_menu">Plats</h3>
        <%@restaurant.courses.where(category: "Plat").each do |plat| %>
            <ul class="list-unstyled list-inline">
            <li><h5><%=plat.name%></h5></li> <li><p> - <%=plat.description%>  - <%=plat.price %> Euros</p></li>
            </ul>
          <%end%>
        <br>

        <h3 class="title_menu">Desserts</h3>

        <%@restaurant.courses.where(category: "Dessert").each do |dessert| %>
          <ul class="list-unstyled list-inline">
            <li><h5><%=dessert.name%></h5></li> <li><p> - <%=dessert.description%>  - <%=dessert.price %> Euros</p></li>
          </ul>
        <%end%>

      </div>
    </div>

    <br>


    <div class="row">
      <div class="col-xs-12 col-md-4">
        <img src="https://images.unsplash.com/17/unsplash_527bf4b4ae00d_1.JPG?q=80&fm=jpg&s=0b8001ef704174d007386803dbf0a276" class="img-thumbnail" alt="Cinque Terre">
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="https://images.unsplash.com/photo-1426259759666-68da5c54402d?q=80&fm=jpg&s=5fa8cad7a9333b2e1a46f4174fa88dc5" class="img-thumbnail" alt="Cinque Terre">
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="https://images.unsplash.com/45/aXpQLs4AQ5e1EtmeYkz3_20140524_124026.jpg?q=80&fm=jpg&s=c691db1c24519ce9bef08dcf0521f8a4" class="img-thumbnail" alt="Cinque Terre">
      </div>
    </div>
    <div class="row padded">
      <div class="col-xs-12 col-md-4 text-justify">
        <h2>Guillaume Chen</h2>
        <h4>Le Chef</h4>
        <p>
          Guillaume cuisine tous ses plats avec l'amour qu'y mettait sa grand-mère. Il traduit l'essence de la cuisine chinoise dans votre assiette pour le bonheur de vos papilles.
        </p>
      </div>
      <div class="col-xs-12 col-md-4 text-justify">
        <h2>Sandrine Chen</h2>
        <h4>La Patronne</h4>
        <p>
          Sans elle, Beijing 8 ne tournerait pas rond, elle donne tout, tous les jours pour la réussite du restaurant et la satisfaction de ses clients.
        </p>
      </div>
      <div class="col-xs-12 col-md-4 text-justify">
        <h2>Marcel</h2>
        <h4>Le garde</h4>
        <p>
          Marcel est peut être le plus chaleureux de tous les gardes, il vous accueillera les pattes ouvertes et sait se faire oublier pendant le repas.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <% if user_signed_in? %>
    <% if current_user.owner == false || current_user.owner == nil %>
      <% if @booked %>
        <%=link_to 'Voir mon code', user_path(coming_from_reservation: 1) %>
      <% else %>
        <%= render 'coupon_form' %>
      <% end %>
    <% end %>
  <% else %>
    <%= render 'coupon_form' %>
  <% end %>
</div>
<br><br><br><br>













