<div class="banner text-center" style="background-image: url('<%= @restaurant.seed_picture %>')">
  <div class="banner-shadow"></div>
  <div class="banner-content">
  </div>
</div>

<p>
  Nom : <%= @restaurant.name %>
</p>
<p>
  Adresse : <%= @restaurant.address %>
</p>
<p>
  Code postal : <%= @restaurant.zip_code %>
</p>
<p>
  Ville : <%= @restaurant.city%>
</p>
<p>
  Quartier : <%= @restaurant.borough %>
</p>
<p>
  Categorie : <%= @restaurant.category %>
</p>
<p>
  Gamme de prix : <%= @restaurant.price_min %> - <%= @restaurant.price_max %> €
</p>
<p>
  Description : <%= @restaurant.description %>
</p>
<p>
  Réduction : <%= @restaurant.discount * 100 %>%
</p>
<p>
  Détail de la réduction : <%= @restaurant.discount_detail %>
</p>
<p>
  Propriétaire : M. <%= @restaurant.user.last_name %>
</p>








