<% @footer = true %>
<div class="banner text-center" style="background-image: url('<%= @restaurant.seed_picture %>')">
  <div class="banner-shadow"></div>
  <div class="banner-content">
    <h1><%= @restaurant.name %></h1>
    <p>Le meilleur restaurant chinois de Paris, élu par la communauté</p>
      <% if user_signed_in? %>
        <% if current_user.owner == false %>
          <% if @booked %>
            <%=link_to 'Voir mon code', codes_path %>
          <% else %>
            <%= render 'coupon_form' %>
          <% end %>
        <% elsif current_user.restaurant_id == @restaurant.id %>
          <%= simple_form_for @restaurant, url: restaurant_update_picture_path(@restaurant), method: :patch do |f| %>
            <%= f.input :seed_picture %>
            <%= f.button :submit, class: "btn btn-primary"%>
          <% end %>
        <% end %>
      <% else %>
        <%= render 'coupon_form' %>
      <% end %>
  </div>
</div>

<div class="restaurant-show-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 padded">
         <br>
         <img src="https://images.unsplash.com/photo-1414358154612-ae3d3c120004?q=80&fm=jpg&s=988c3ac3e8fc7e48d5d7f6d9bd325c6a" class="img-thumbnail" alt="Cinque Terre">
      </div>
      <div class="col-xs-12 col-md-4 padded">
        <h3>UN VOYAGE</h3>
        <p>
          Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
        <p>
          Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <img src="https://images.unsplash.com/17/unsplash_527bf4b4ae00d_1.JPG?q=80&fm=jpg&s=0b8001ef704174d007386803dbf0a276" class="img-thumbnail" alt="Cinque Terre">
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="https://images.unsplash.com/photo-1426259759666-68da5c54402d?q=80&fm=jpg&s=5fa8cad7a9333b2e1a46f4174fa88dc5" class="img-thumbnail" alt="Cinque Terre">
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="https://images.unsplash.com/45/aXpQLs4AQ5e1EtmeYkz3_20140524_124026.jpg?q=80&fm=jpg&s=c691db1c24519ce9bef08dcf0521f8a4" class="img-thumbnail" alt="Cinque Terre">
      </div>
    </div>
    <div class="row padded">
      <div class="col-xs-12 col-md-4 text-justify">
        <h2>LOUIS BAUDOIN</h2>
        <h4>THE FOOTER GUY</h4>
        <p>
          Peut-être le meilleur développeur JavaScript de France, reconnu notamment pour son incommensurable talent pour créer maps et footers, Louis a tout abandonné pour se mettre à la cuisine chinoise. "De JS aux fourneaux, il n'y a qu'un pas. C'est finalement à peu près la même chose : ta cuisine c'est ton terminal, tes casseroles, fours et autres ustensiles tes fonctions et tes ingrédients, c'est tes variables."
        </p>
      </div>
      <div class="col-xs-12 col-md-4 text-justify">
        <h2>JE(AN-)REMY NAHUM</h2>
        <h4>AKA THE BACKER</h4>
        <p>
          Jérémy Nahum n'a jamais été reconnu pour quoi que ce soit. D'après Louis et 'Jean-Bapt', il a atterri ici parce qu'au fond 'il n'est pas méchant'. Mais c'est vrai qu'il ne sert pas à grand chose à part organiser des soirées échangistes derrière la cuisine, le mardi. Selon Louis 'Ca ramène quelques clients dont on se passerait bien... On ne sait pas vraiment pourquoi on le garde finalement'
        </p>
      </div>
      <div class="col-xs-12 col-md-4 text-justify">
        <h2>JEAN-BAPTISTE BECK</h2>
        <h4>YOU SAID FRONT ?</h4>
        <p>
          Jean-Baptiste, c'est monsieur déco. Il a tout fait à la main dans son atelier à Tours. c'est 'l'inspiration' de l'équipe, cette jeunesse, cette fraicheur qui apporte un oeil neuf à la cuisine et à la table de Louis. Finalement c'est l'artiste de la bande qui a su construire un univers unique et extraordinaire aux allures d'un conte de Grimm. Malheur à celui qui osera remettre en question son talent.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <% if user_signed_in? %>
    <% if current_user.owner == false %>
      <% if @booked %>
        <%=link_to 'Voir mon code', codes_path %>
      <% else %>
        <%= render 'coupon_form' %>
      <% end %>
    <% end %>
  <% else %>
    <%= render 'coupon_form' %>
  <% end %>
</div>
<br><br><br><br>













